@import url("/static/css/bill-table.css");

#bill {
  font-family: Verdana, 'Times New Roman', Times;
  margin: 5px auto 5px 10px;
}

#billing-header {
  width: 95%;
  font-family: Verdana, 'Times New Roman', Times;
/*  border: 1px solid #aaa;*/
}

#billing-header th {
  width: 15%;
  vertical-align: top;
/*  border: 1px solid #aaa;*/
}

#billing-header td {
  vertical-align: top;
  width: 35%;
/*  border: 1px solid #aaa;*/
}
