@import url("/static/css/bill-table.css");

#billings {
  margin: 5px 10px;
  border: 1px solid #aaa;
  border-width: 1px 1px 0 0;
  border-spacing: 0;
  width: 500px;
}

#billings thead {
  background-color: #f8f8f8;
}

#billings th,
#billings td {
  border: 1px solid #aaa;
  border-width: 0 0 1px 1px;
  padding: 1px;
  text-align: center;
}

table.billing td {
  font-size: 85%;
  font-family: Tahoma, Geneva, sans-serif;
}
table.billing td a {
  font-family: 'Times New Roman', Times, serif;
}
