table.billing {
  width: 95%;
  border: 1px solid #bbb;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fafaff;
  font-family: Verdana;
/*  background-color: #fafafa;*/
}

table.billing thead {
/*  background-color: #f4f4f4;*/
  background: url('/static/images/table-bg.png') repeat-x bottom left;
}

table.billing thead th,
table.billing thead td {
  color: black;
}

table.billing tr.leading,
table.billing tr.total {
/*  background-color: #f8f8f8;*/
}

table.billing tr.leading td,
table.billing tr.total td {
  color: black;
}

table.billing th,
table.billing td {
  color: #141424;
  border: 1px solid #aaa;
  padding: 2px 5px;
}

table.billing th {
  text-align: right;
  font-family: 'Times New Roman', Times;
  font-weight: normal;
  font-size: 125%;
}

table.billing th.first,
table.billing td.first {
  text-align: left;
/*  background-color: #f8f8f8;*/
}

table.billing td.billitem {
  font-size: 110%;
}

table.billing thead th.descr {
  width: 25%;
}

table.billing thead th.rate,
table.billing thead th.amt {
  width: 20%;
}

table.billing thead th.qty,
table.billing thead th.days {
  width: 15%;
}

table.billing tbody tr td input {
  text-align: right;
}
