#bill {
  margin: 5px auto 5px 10px;
}

#bill h2 {
  font-family: Tahoma, Verdana, 'Trebuchet MS';
  font-weight: normal;
}

#bill li {
  font-family: Verdana, 'Trebuchet MS', 'Comic Sans MS', Georgia, Garamond, Tahoma;
}

#bill label {
  font-weight: normal;
  font-family: Times;
  font-size: 120%;
}

#billing-table {
  width: 100%;
}

#billing-table th {
  text-align: center;
  font-weight: normal;
  font-size: 120%;
  font-family: Serif, Times;
}

#billing-table td {
  font-family: Tahoma;
  color: #383838;
  padding-right: 20px;
}

#billing-table th,
#billing-table td {
  min-width: 17%;
}

#billing-table th.first,
#billing-table td.first {
  text-align: left;
  min-width: 32%;
}

#billing-table td.billitem {
  font-size: 110%;
}

#billing-table thead th.descr {
  width: 25%;
}

#billing-table thead th.rate,
#billing-table thead th.amt {
  width: 20%;
}

#billing-table thead th.qty,
#billing-table thead th.days {
  width: 15%;
}
.mc-table {
  border: 1px solid #aaa;
  border-width: 1px 1px 0 0;
  border-spacing: 0;
  width: 98%;
}
.mc-table caption {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #aaa;
  font-size: 120%;
  color: #223;
  font-weight: bold;
  padding: 10px auto;
  background-color: #f8f8ff;
}
.mc-table th,
.mc-table td {
  border: 1px solid #aaa;
  border-width: 0 0 1px 1px;
  padding: 3px 6px;
  text-align: center;
}
