$(document).ready(function() {
  $('form input.target').change(function() {
    $.get("[% c.uri_for('/search/fields') %]", {
      target: this.value
    }, function(data) {
      $('#search-fields').html(data);
    } );
  } );
} );
