    <table class="footer">
      <tr>
        <td>&copy 2011, <a href="http://terence.mon.teiro.in">Terence Monteiro</a></td>
        <td align="right">
          <a href="http://www.catalystframework.org">
            <img src="[% c.uri_for('/static/images/btn_120x50_powered_shadow.png') %]"></a></td>
      </tr>
    </table>
    </div>
<img id="bottom" src="[% c.uri_for('/static/images/bottom.png') %]" alt="" />
[% PROCESS 'foot-section.tt' %]

