[% PROCESS header.tt %]

  <div id="content">
    <div id="central">
    [% IF msg OR c.flash.msg -%]
      <div id=msg>[% msg || c.flash.msg %]</div>
    [%- END -%]

    [% PROCESS $process_file %]
    </div>
      
[%# PROCESS client/dashboard.tt %]
[%# PROCESS details/recent_request_details.tt %]

[%- IF c.session_expires -%]
  [% PROCESS right.tt %]
[%- END -%]
  </div>

[% PROCESS footer.tt %]

