<form class="wufoo">
<header id="header" class="info">
<h2>Reports</h2>
<div>Essential information in a nutshell</div>
</header>
<ul>
  <li><a href="[% c.uri_for('/reports/days_meals') %]">Daily Meals Report</a></li>
  <li><a href="[% c.uri_for('/reports/hall_bookings') %]">Daily Hall Bookings</a></li>
  <li><a href="[% c.uri_for('/reports/collections') %]">User Collections</a></li>
</ul>
</form>
